h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
    color: #606060 !important;
}

p, span, a, li, button, label {
    font-family: 'Open Sans', sans-serif !important;
    color: #606060 !important;
}
.title-block h1,
.title-block p,
.buy h2,
.buy p{
    text-shadow: #616467 0px 1px 4px;
}
.logo-mobile{
    position: relative;
    z-index: 999;
}
.fa-star {
    font-size: 20px;
}

.rounded-10 {
    border-radius: 10px;
}

.border-gray {
    border-color: #4e555b;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

header button {
    font-size: 14px !important;
}

header a {
    font-size: 14px !important;
    font-weight: 600;
}

.desktop-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1) !important;
}

.header {
    height: 100vh;
}

.buy {
    height: 100vh;
}

.narrow-section {
    min-height: 126px;
    background-color: rgba(214, 237, 249, 0.74);
}

.mission {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23d6edf9' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 2000px;
}

.usage {
    background-color: rgba(190, 190, 190, 0.1);
}

.reviews p {
    font-family: 'Poppins', sans-serif !important;
}

.name {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
}

.usage-img {
    width: 298px !important;
    height: 374px;
    background-size: cover;
    border-radius: 12px;
    background-position: center;
}

.usage-img-1 {
    background-image: url('assets/usage/oral-health.jpg');
}

.usage-img-2 {
    background-image: url('assets/usage/brushing_teeth.jpg');
}

.usage-img-3 {
    background-image: url('assets/usage/brushing-teeth-0.jpg');
}

.reviews {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.reviews-inner {
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.logo-1 {
    font-family: 'Fugaz One', cursive;
}

.logo-2 {
    font-family: 'Fugaz One', cursive;
    font-weight: 400;
}

.title-block {
    background-image: url('teeth-4818711_1920.jpg');
    background-size: 1920px;
    border-radius: 12px;
    background-position: center;
}

.title-block .btn {
    background-color: rgba(255, 255, 255, 0.3);
}

.review-img {
    width: 298px;
    height: 374px;
    background-size: cover;
}

.review-img-1 {
    background-image: url('assets/reviews/F_92098.jpg');
}

.review-img-2 {
    background-image: url('assets/reviews/5e98afeed5873a7a914e0804.jpg');
}

.review-img-3 {
    background-image: url('assets/reviews/Carbon-Coco-Feature.jpg');
}

.review-img-4 {
    background-image: url('assets/reviews/82433511_852470545213826_1092527907788158986_n.jpg');
}

.review-img-5 {
    background-image: url('assets/reviews/beauty-2019-03.jpg');
}

.reviews-inner {
    width: 3140px;
}

.review-wrapper {
    width: 298px;
    height: 374px;
    display: block;
}

.review-wrapper .top-wrapper .txt {
    height: 192px;
    font-size: 20px;
}

.review-wrapper .name {
    height: 72px;
}

.review-wrapper .name div {
    overflow: hidden;
}

.review-wrapper .name span {
    display: block;
    font-size: 34px;
    background-image: url(user.svg);
    background-size: 40px;
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
    background-position: 2px 8px;
}

.fa-glasses {
    font-size: 22px;
}

.fas .fa-trophy {
    font-size: 22px;
}

.buy-wrapper {
    background-color: rgba(190, 190, 190, 0.1);
}

.buy {
    background-image: url('assets/slide5-wide.jpg');
    background-size: 1920px;
    border-radius: 12px;
    background-position: center;
}

.contact-form {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23d6edf9' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 2000px;
}

.contact-form button {
    font-size: 14px !important;
}

.contact-form input {
    border-radius: 12px;
}

.contact-form select {
    border-radius: 12px;
}

.contact-form textarea {
    border-radius: 12px;
}

footer a {
    font-size: 12px !important;
    font-weight: 600;
    padding: 0 !important;
}

.rights {
    font-size: 12px;
}

.mobile-nav{
    display: none;
}
.bonuses{
    display: none;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23d6edf9' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 2000px;
}
@media screen and (max-width: 1280px){
    .desktop-nav{
        display: none!important;
    }
    .mobile-nav{
        display: block;
    }
    .usage-item-wrapper{
        flex-direction: column!important;
    }
    .usage-item-wrapper div{
        width: 100%!important;
    }
    .usage-item-wrapper-2{
        display: none!important;
    }
    .usage-item-img-1{
        padding: 0!important;
    }
    .bonuses{
        display: block;
    }

    .title-block-txt-wrapper{
        padding: 0!important;
        margin: 0!important;
    }
}
@media screen and (max-width: 768px){
    .bonuses{
        display: block;
    }
    .title-block{
    border-radius: 0;
}
    .buy{
        border-radius: 0;
    }
    .contact-form{
        display: none;
    }
    .buy p {
        width: 100%!important;
    }
}
